<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> PhoneBook </title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="css/main.css">
</head>

<body ng-app="phoneBookApp" ng-controller="contactController">
    <nav>
        <div class="title">
            <i class="material-icons">phone</i>
            MyPhoneBook
        </div>
        <div class="menu">
            <i class="material-icons">search</i>
            SEARCH
        </div>
        <div class="menu">
            <i class="material-icons">add</i>
            ADD NEW CONTACT
        </div>
    </nav>
    <main>
        <ul>
            <li ng-repeat="contact in contactList">
                <div class="contactBasicInfo">
                    <img src={{contact.avatar}} />
                    <input ng-disabled="!{{contact.editable}}" type="text" ng-model="contact.surname" placeholder="{{contact.surname}}"/>
                    <input ng-disabled="!{{contact.editable}}" type="text" ng-model="contact.name" placeholder="{{contact.name}}"/>
                    <i class="material-icons" ng-click="toggleContact($index)">keyboard_arrow_down</i>
                </div>

                <div  ng-show="{{contact.showDetails}}" class="contactMoreInfo">
                    <i class="material-icons" ng-click="editContact($index)"> mode_edit </i>
                    <input ng-disabled="!{{contact.editable}}" type="number" ng-model="contact.number" placeholder="{{contact.number}}"/>
                    <i class="material-icons" ng-click="deleteContact($index)">delete</i>
                </div>
            </li>
        </ul>
    </main>
    <footer>

    </footer>

    <script src="js/script.js"></script>
</body>

</html>
